.marginBorder {
  border: dotted 1px black;
  background-color: skyblue;
}

.holdYa {
  padding: 20px;
}

textarea {
  width: 200px;
  height: 200px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid salmon;
  resize: none;
}
